*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/core/core-ui/build
/core/core-data/build
/core/core-common/build
/feature/feature-recorder/build
/feature/feature-editor/build
/feature/feature-library/build
/feature/feature-settings/build
/feature/feature-onboarding/build
/build-logic/build
